body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hi {
    text-align: center;
    color: #333;
    background-color: #fff;
}
.grid {
    padding-top: 100px;
}
.hello{
    font-size: 18px;
    font-weight: bold;
    color: red;
    text-align: left;
}
.price h2{
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}

