body {
    font-family: 'Arial', sans-serif;
    background-color: #f9fbfd;
    margin: 0;
    padding: 20px;
    text-align: center;
  }
  .team-section {
    max-width: 900px;
    margin: auto;
    text-align: center;
  }
  .team-section h2 {
    color: #0d1d60;
    font-size: 32px;
    margin-bottom: 50px;
    text-align: center;
  }
  .team-section h1 {
    color: #0d1d60;
    font-size: 32px;
    margin-bottom: 40px;
  }
  .team-member {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
  }
  .team-member img {
    width: 250px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    background-color: #000; /* black background circle */
  }
  .member-info2 {
    max-width: 500px;
    text-align: right;
  }
  .member-info {
    max-width: 500px;
    text-align: left;
  }
  .member-info h3 {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 5px;
  }
  .member-info h4 {
    font-size: 18px;
    color: #dfdfdf;
    margin-bottom: 20px;
    font-weight: normal;
  }
  .member-info p {
    font-size: 16px;
    color:     #ffffff;;
    line-height: 1.6;
    text-align: justify;
  }
  .member-info2 h3 {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 5px;
  }
  .member-info2 h4 {
    font-size: 18px;
    color: #dfdfdf;
    margin-bottom: 20px;
    font-weight: normal;
  }
  .member-info2 p {
    font-size: 16px;
    color: #dfdfdf;
    line-height: 1.6;
    text-align: justify;

  }